@page "/category"
@using Microsoft.AspNetCore.Mvc
@using Shared.ApiModel
@using Shared.DbModels
@using ValhallaVaultCyberAwareness.API
@inject UserController userCont;

<h3>Category</h3>

<!-- Infomation about a specific Category -->

<!-- View of the segments in the category -->

<!-- View of the subcategorys in the segment -->

<!-- Show which segments are finished -->


<div>
    @if(Users.Any())
    {
        @foreach (UserApiModel user in Users)
        {
            <h1>@user.Username</h1>
        }
    }
    

</div>

@code {
    

    List<UserApiModel>? Users { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Users = await userCont.GetAllUsersAsync();

    }
}
