<h3>Category</h3>

<!-- Infomation about a specific Category -->

<!-- View of the segments in the category -->

<!-- View of the subcategorys in the segment -->

<!-- Show which segments are finished -->


<div>

    
</div>

@code {

}
