@page "/"
<PageTitle>Valhalla Cybersecurity</PageTitle>

<div class = "valhalla-row">
	<div class = "valhalla-div">
		<h1 class = "valhalla-title">Valhalla Vault</h1>
		<img class="valhalla-logo" src="Images/ValhallaLogo.jpg" />
		<p class="valhalla-description">Cyber Guardians of the North: Shielding Your Digital Realms with the Wisdom of the Norse</p>		
		<a class = "btn btn-primary mb-3" href="/Account/Login">Sign in</a>
		<br />
		<a class = "btn btn-primary" href="/Account/Register">Create a new account</a>
	</div>
</div>

