@page "/"
<PageTitle>Valhalla Cybersecurity</PageTitle>

<style>
    body {
        background-image: url(Gifs/LandingBG.gif);
        background-size: 100% auto;
        background-repeat: repeat;
        background-position: center;
        height: 100vh; 
        margin: 0; 
        padding: 0;
    }
</style>

<div class = "valhalla-row">
	<div class = "valhalla-div">
		<img class="valhalla-logo" src="Images/logo.png" />
        <br />
        <p class="valhalla-description">Forge Your Digital Fortitude:</p>
        <p class="valhalla-description"> Journey Through Valhalla Vault's Cyber Awareness Platform to Unleash Your Inner Guardian and Navigate the Digital Realm with Confidence!</p>
		<a class = "btn btn-outline-light  mb-3" href="/Account/Login">Logga in</a>
		<br />
		<a class = "btn btn-outline-light " href="/Account/Register">Skapa ett nytt konto</a>
	</div>
</div>

