@page "/"
<PageTitle>Valhalla Cybersecurity</PageTitle>

<style>
    body {
        background-image: url(Gifs/LandingBG.gif);
        background-size: 100% auto;
        background-repeat: repeat;
        background-position: center;
        height: 100vh; 
        margin: 0; 
        padding: 0;
    }
</style>

<div class = "valhalla-row">
	<div class = "valhalla-div">
		<img class="valhalla-logo" src="Images/logo.png" />
		<p class="valhalla-description">Cyber Guardians of the North: Shielding Your Digital Realms with the Wisdom of the Norse</p>		
		<a class = "btn btn-outline-light  mb-3" href="/Account/Login">Sign in</a>
		<br />
		<a class = "btn btn-outline-light " href="/Account/Register">Create a new account</a>
	</div>
</div>

