<h3>Segment</h3>

<!-- Information about the segment -->

<!-- View of the subcategories included in the segment -->

<!-- Beeing able to choose a subcategory -->

<!-- Study material about the segment -->


@code {


}
