@page "/segment/{Id:int}"

<h3>Segment under construction</h3>

<br />
<br />
<a class="btn " href="@($"subcategory/{Id}")" >Go to subcategory</a>

<!-- Information about the segment -->

<!-- View of the subcategories included in the segment -->

<!-- Beeing able to choose a subcategory -->

<!-- Study material about the segment -->


@code {
    [Parameter]
    public int Id { get; set; }



}
