@page "/subcategory/{SegmentId:int}"
@using ValhallaVaultCyberAwareness.DAL.DbModels
@using ValhallaVaultCyberAwareness.DAL.Repository
@inject IRepository<SubcategoryModel> subcategoryRepository
@inject IRepository<SegmentModel> segmentRepository

<PageTitle>Category - @segment.Name</PageTitle>

<div class="valhalla-row">
    <div class="valhalla-div">
        <h1 class="valhalla-title">Subcategory Title</h1>
        <a class="btn btn-primary valhalla-btn margin-top">Start Quiz</a>
        <br />
        <label class="margin-top valhalla-title">Information about subcategory:</label>
        <div class="col align-content-center valhalla-description-div">
            <p class="valhalla-description-subcategory">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Mattis rhoncus urna neque viverra
                justo. At risus viverra adipiscing at in tellus integer feugiat scelerisque. Ac
                placerat vestibulum lectus mauris ultrices.
            </p>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int SegmentId { get; set; }

    private List<SubcategoryModel>? subcategories;
    private SegmentModel? segment;

    protected override async Task OnInitializedAsync()
    {
        // Hämta alla subkategorier för det angivna segmentet.
        subcategories = await subcategoryRepository.GetSubcategoriesBySegmentAsync(SegmentId);
        segment = await segmentRepository.GetByIdAsync(SegmentId);
    }
}
