@page "/user-updated"
@inject NavigationManager NavigationManager

<h3>Update Successful</h3>
<p>Your account details have been successfully updated.</p>

<a class="btn btn-outline-primary me-2" href="/Home">Go To Home Section</a>