@page "/user-updated"
@inject NavigationManager NavigationManager

<h3>Update Successful</h3>
<p>Your account details have been successfully updated.</p>

<a class="btn btn-success me-2" href="/Home">Home</a>