@page "/anvandarsida"

@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@inject AuthenticationStateProvider AuthenticationStateProvider

<h3>AnvändarSida</h3>

@if (user.Identity.IsAuthenticated)
{
    <p>Welcome, @user.Identity.Name!</p>
    <!-- User-specific content goes here -->
}
else
{
    <p>You are not logged in. Please log in to view this page.</p>
}

@code {
    private ClaimsPrincipal user;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        user = authState.User;
    }
}